/* Error: Undefined mixin.
 *    ,
 * 34 | @include botao($cor-primaria);
 *    | ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   SCSS/_componentes.scss 34:1  @use
 *   SCSS/estilos.scss 9:1        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 34 \2502  @include botao($cor-primaria);\a    \2502  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   SCSS/_componentes.scss 34:1  @use\a   SCSS/estilos.scss 9:1        root stylesheet";
}
