@use 'variaveis' as *;
@use 'mixins' as *;

// ============================
// NAV
// ============================

.nav{

&__menu{
display:flex;
gap:$espacamento;
list-style:none;
}

&__link{
text-decoration:none;
color:white;

&:hover{
color:$cor-secundaria;
}

}

}